@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --min-font-size: 0.75rem;
  --max-font-size: 1.5rem;
  --scale-factor: 5vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 800;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

.card {
  height: 200px; /* Set a fixed height for all cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-name {
  font-size: clamp(var(--min-font-size), var(--scale-factor), var(--max-font-size));
  line-height: 1.2;
  max-height: 3.6rem; /* Approximately 3 lines of text */
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
}
.indicator {
  background-image: linear-gradient(
          to right,
          var(--mantine-color-pink-filled),
          var(--mantine-color-orange-filled)
  );
}